/* ---------- main ------------------------------ */

main>section {
    font-size: 20px;
    margin: 50px;
    border-bottom: 1px solid steelblue;
}

main>section>div {
    padding-bottom: 20px;
    margin-bottom: 40px;
}

h2 {
    margin-top: 50px;
}

h3 {
    font-size: 100%;
    font-weight: 600;
}

th {
    white-space: nowrap;
}

a {
    color: steelblue;
}

a[href^='https://iiif.io'] {
    color: crimson;
}

strong {
    font-weight: 600;
}

.string {
    font-weight: normal;
    font-style: italic;
}

.variable {
    color: steelblue !important;
}

span.cl {
    /*used for compliance level badges*/
    font-size: 50%;
    vertical-align: super;
    color: steelblue;
    border: 1px solid steelblue;
    border-radius: 50%;
    padding: 3px 5px !important;
    margin-left: 5px;
}

.iconSVG {
    height: 20px;
    width: 20px;
    margin: 2px 5px 8px 5px;
}

div.ire {
    /*used for rows image request examples*/
    background: repeating-conic-gradient(#f2f2f2 0% 25%, transparent 0% 50%) 50% / 20px 20px;
    border: 1px solid black;
    overflow: scroll;
    aspect-ratio: 1 / 1;
    position: relative;
}

div.ire>a {
    padding: 5px;
    background-color: #f2f2f2;
    display: inline-block;
    position: sticky;
    top: 0;
    left: 0;
    font-size: 50%;
}

div.ire>a>strong {
    font-weight: 800;
}

div.ire>img {
    position: absolute;
}

ul {
    margin-bottom: 20px !important;
}

code {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: steelblue;
    white-space: pre;
    overflow: auto;
}

code>span {
    color: darkorange;
}

figure {
    /*used for citations*/
    border: 1px solid steelblue;
    padding: 20px;
}

figure blockquote {
    font-style: italic;
    text-align: justify;
}

*[data-bs-toggle="tooltip"]:hover {
    cursor: help;
}

/* ---------- sidebar ------------------------------ */

aside {
    background-color: steelblue;
    position: sticky;
    top: 0;
}

aside>nav {
    overflow: hidden;
}

aside a.navbar-brand {
    color: white;
}

aside a.nav-link {
    color: black;
}

aside a.nav-link:hover {
    color: white;
}

/* ---------- viewer ------------------------------ */

.viewer {
    height: 600px;
    position: relative;
    border: 1px solid steelblue;
    margin-bottom: 2%;
}

.overlay {
    border: 3px solid steelblue;
}